In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/models_data2.csv')
df.head()

,Age,Gender,state_codes,Total Children in HH,Total Women in HH,Total Additional Women in HH,education,marital_status,employment,Social_group_,...,n_unemp_men,Time Spent on Paid Work,Time Spent on Unpaid Work,Time Spent on Leisure,Time Spent Cooking,Time Spent Cleaning,Time Spent Collecting Firewood,Time Spent Washing,Time Spent on Domestic Chores,Time Spent on Care Work
0,67,Male,TN,1.0,2,1,Secondary,Currently Married,Self-Employed,OBC,...,0.0,480.0,45.0,165.0,0.0,0.0,0.0,0.0,0.0,45.0
1,61,Female,TN,1.0,2,1,Upto Middle School,Currently Married,Casual Labour,OBC,...,0.0,300.0,225.0,195.0,165.0,0.0,0.0,0.0,165.0,60.0
2,33,Male,TN,1.0,2,1,Secondary,Currently Married,Salaried Employee,OBC,...,0.0,360.0,15.0,105.0,0.0,0.0,0.0,0.0,0.0,15.0
3,26,Female,TN,1.0,2,1,Secondary,Currently Married,Not Employed,OBC,...,0.0,0.0,645.0,45.0,135.0,90.0,0.0,120.0,345.0,120.0
4,70,Female,TN,0.0,1,0,Illiterate,Widowed,Not Employed,OBC,...,0.0,0.0,105.0,225.0,105.0,0.0,0.0,0.0,105.0,0.0

In [3]:
import numpy as np

In [4]:
df['young_old'] = 'Old'
df.loc[df['Age'] <= 35, 'young_old'] = 'Young'

In [5]:
df.drop([194306], axis=0, inplace=True)

In [6]:
stratcols = ['young_old', 'state_codes', 'Gender', 'Social_group_', 'religion', 'sector']
stratcode = df[stratcols].apply(lambda x: '_'.join(x), axis=1)

In [7]:
vc = stratcode.value_counts()
rare = vc[vc == 1].index
stratcode[stratcode.isin(rare)] = 'rare'

In [8]:
stratcode.value_counts().head(90)

Young_UP_Female_OBC_Hinduism_Rural       3959
Young_UP_Male_OBC_Hinduism_Rural         3769
Old_UP_Male_OBC_Hinduism_Rural           3242
Old_UP_Female_OBC_Hinduism_Rural         3208
Young_BH_Female_OBC_Hinduism_Rural       2748
                                         ...
rare                                      918
Young_WB_Female_Others_Hinduism_Rural     906
Young_MP_Male_OBC_Hinduism_Urban          892
Old_BH_Male_SC_Hinduism_Rural             892
Young_AS_Female_Others_Islam_Rural        891
Name: count, Length: 90, dtype: int64

In [9]:
df['stratcode'] = stratcode

In [10]:
df.head()

,Age,Gender,state_codes,Total Children in HH,Total Women in HH,Total Additional Women in HH,education,marital_status,employment,Social_group_,...,Time Spent on Unpaid Work,Time Spent on Leisure,Time Spent Cooking,Time Spent Cleaning,Time Spent Collecting Firewood,Time Spent Washing,Time Spent on Domestic Chores,Time Spent on Care Work,young_old,stratcode
0,67,Male,TN,1.0,2,1,Secondary,Currently Married,Self-Employed,OBC,...,45.0,165.0,0.0,0.0,0.0,0.0,0.0,45.0,Old,Old_TN_Male_OBC_Hinduism_Rural
1,61,Female,TN,1.0,2,1,Upto Middle School,Currently Married,Casual Labour,OBC,...,225.0,195.0,165.0,0.0,0.0,0.0,165.0,60.0,Old,Old_TN_Female_OBC_Hinduism_Rural
2,33,Male,TN,1.0,2,1,Secondary,Currently Married,Salaried Employee,OBC,...,15.0,105.0,0.0,0.0,0.0,0.0,0.0,15.0,Young,Young_TN_Male_OBC_Hinduism_Rural
3,26,Female,TN,1.0,2,1,Secondary,Currently Married,Not Employed,OBC,...,645.0,45.0,135.0,90.0,0.0,120.0,345.0,120.0,Young,Young_TN_Female_OBC_Hinduism_Rural
4,70,Female,TN,0.0,1,0,Illiterate,Widowed,Not Employed,OBC,...,105.0,225.0,105.0,0.0,0.0,0.0,105.0,0.0,Old,Old_TN_Female_OBC_Hinduism_Rural

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
dftrain, dftest = train_test_split(df, stratify=df['stratcode'])

In [13]:
dftrain.shape

(286667, 31)

In [14]:
dftest.shape

(95556, 31)

In [15]:
df.to_csv('data/strat.csv', index=False)