In [184]:
import pandas as pd

In [188]:
df = pd.read_stata('data/ml_data.dta')
df.head()

,index,BYTES,Filename,Schedule_ID,psu,Schedule,survey_year,Sector,NSS_Region,District,...,generation,pweight,state,sector,fs_strata,unemp_men,n_unemp_men,employed_help,piped_gas,wired_source
0,8602015,TUS100011062019133103013823320010500001 670010...,TUS106_L05.TXT,TUS,10001,106,2019,Rural,331,03,...,Old,229.600006,33.0,1.0,73.0,0.0,0.0,0.0,Piped Gas/LPG Present,electricity
1,8602033,TUS100011062019133103013823320010500002 610010...,TUS106_L05.TXT,TUS,10001,106,2019,Rural,331,03,...,Old,229.600006,33.0,1.0,73.0,0.0,0.0,0.0,Piped Gas/LPG Present,electricity
2,8602054,TUS100011062019133103013823320010500003 330010...,TUS106_L05.TXT,TUS,10001,106,2019,Rural,331,03,...,Young,229.600006,33.0,1.0,73.0,0.0,0.0,0.0,Piped Gas/LPG Present,electricity
3,8602074,TUS100011062019133103013823320010500004 260010...,TUS106_L05.TXT,TUS,10001,106,2019,Rural,331,03,...,Young,229.600006,33.0,1.0,73.0,0.0,0.0,0.0,Piped Gas/LPG Present,electricity
4,8602098,TUS100011062019133103013823320020500001 700010...,TUS106_L05.TXT,TUS,10001,106,2019,Rural,331,03,...,Old,229.600006,33.0,1.0,73.0,0.0,0.0,0.0,Piped Gas/LPG Present,electricity

In [189]:
df.shape

(445295, 150)

In [190]:
df.set_index('index', inplace=True, verify_integrity=True)
to_drop = ['BYTES', 'Filename', 'Schedule_ID', 'Schedule', 'survey_year',
           'Sample_hhld__No_', 'Common_ID', 'Level', 'Filler', 'Serial_no_of_member',
           'Blank', 'NSC', 'MULT', 'iid', 'mdivision', 'division',  'Person_serial_no_',
           'Age', 'child', 'women_working', 'old_child', '_0imputed_value_of_usual_consump',
           'other', 'prod_own_use', 'residual', '_merge', 'State_name', 'generation', 'state',
           'sector', 'fs_strata', 'unemp_men']
df.drop(to_drop, axis=1, inplace=True)

In [193]:
df.shape

(445295, 117)

In [195]:
df['Gender'].unique()

['Male', 'Female', 'Third Gender']
Categories (3, object): ['Male' < 'Female' < 'Third Gender']

In [196]:
fpa = df[df['Gender'] == 'Female']

In [198]:
y = fpa.pop('paid_activity_time')

In [203]:
import numpy as np

In [200]:
from sklearn.tree import DecisionTreeRegressor

In [204]:
otypes = df.columns[df.dtypes == np.dtype('O')]

In [205]:
otypes

Index(['psu', 'NSS_Region', 'District', 'Sub_Round', 'FOD_Sub_Region', 'age',
       'srl__No_of_activity', 'time_from', 'time_to',
       'whether_performed_multiple_activ', 'whether_simultaneous_activity',
       'whether_a_major_activity', 'where_the_activity_was_performed',
       'enterprise_type', 'unpaid_tag', 'industry_of_work__2_digit_of_NIC',
       'Household_size', 'Land_possessed_as_on_date_of_sur',
       'usual_consumer_expenditure_in_a_', 'imputed_value_of_usual_consumpti',
       'expenditure_on_purchase_of_house', 'Primary_source_of_energey_for_li',
       'Type_of_structure_of_the_dwellin'],
      dtype='object')

In [212]:
cols = ['psu', 'NSS_Region', 'District', 'Sub_Round', 'FOD_Sub_Region', 'age', 'srl__No_of_activity']
df[cols[:4]].astype(int)

           psu  NSS_Region  District  Sub_Round
index
8602015  10001         331         3          2
8602033  10001         331         3          2
8602054  10001         331         3          2
8602074  10001         331         3          2
8602098  10001         331         3          2
...        ...         ...       ...        ...
7701608  26124         283        10          3
7701636  26124         283        10          3
7701671  26124         283        10          3
7701697  26124         283        10          3
7701724  26124         283        10          3

[445295 rows x 4 columns]

In [213]:
fpa.drop(['FOD_Sub_Region'], axis=1, inplace=True)

/tmp/ipykernel_14609/3385595648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa.drop(['FOD_Sub_Region'], axis=1, inplace=True)

In [214]:
otypes = fpa.columns[fpa.dtypes == np.dtype('O')]

In [217]:
cols = ['psu', 'NSS_Region', 'District', 'Sub_Round', 'age',
       'srl__No_of_activity']
fpa[cols] = fpa[cols].astype(int)

/tmp/ipykernel_14609/4244976856.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa[cols] = fpa[cols].astype(int)

In [219]:
fpa.columns[fpa.dtypes == np.dtype('O')]

Index(['time_from', 'time_to', 'whether_performed_multiple_activ',
       'whether_simultaneous_activity', 'whether_a_major_activity',
       'where_the_activity_was_performed', 'enterprise_type', 'unpaid_tag',
       'industry_of_work__2_digit_of_NIC', 'Household_size',
       'Land_possessed_as_on_date_of_sur', 'usual_consumer_expenditure_in_a_',
       'imputed_value_of_usual_consumpti', 'expenditure_on_purchase_of_house',
       'Primary_source_of_energey_for_li', 'Type_of_structure_of_the_dwellin'],
      dtype='object')

In [220]:
fpa.drop(['time_from', 'time_to'], axis=1, inplace=True)

/tmp/ipykernel_14609/2436864244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa.drop(['time_from', 'time_to'], axis=1, inplace=True)

In [221]:
[c for c in fpa if 'time' in c.lower()]

['start_time',
 'end_time',
 'act_time',
 'hh_time',
 'care_time',
 'child_care_time',
 'adult_care_time',
 'emp_time',
 'sna_time',
 'n_sna_time',
 'other_time',
 'cooking_time',
 'collection_time',
 'collection_preparation_time',
 'cleaning_time',
 'livestock_time',
 'firewood_time',
 'water_time',
 'washing_time',
 'unpaid_activity_time',
 'residual_time',
 'leisure_time',
 'unpaid_sna_time',
 'mkt_time_1',
 'mkt_time_2',
 'mkt_time_3',
 'mkt_time_4',
 'mkt_time_5',
 'mkt_time_6',
 'mkt_time_7',
 'mkt_time_8',
 'mkt_time_9',
 'mkt_time_10',
 'mkt_time_11',
 'mkt_time_12',
 'mkt_time_13',
 'mkt_time_14',
 'mkt_time_15',
 'mkt_time_16',
 'mkt_time_17',
 'mkt_time_18']

In [225]:
fpa.drop(['care_time', 'hh_time', 'unpaid_activity_time'], axis=1, inplace=True)

/tmp/ipykernel_14609/2340329357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa.drop(['care_time', 'hh_time', 'unpaid_activity_time'], axis=1, inplace=True)

In [229]:
otypes = fpa.columns[fpa.dtypes == np.dtype('O')]

In [233]:
for c in otypes:
    try:
        fpa[c] = fpa[c].astype(float)
    except ValueError:
        continue

/tmp/ipykernel_14609/1270881503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa[c] = fpa[c].astype(float)
/tmp/ipykernel_14609/1270881503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa[c] = fpa[c].astype(float)
/tmp/ipykernel_14609/1270881503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa[c] = fpa[c].astype(float)
/tmp/ipykernel_14609/1270881503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa[c] = fpa[c].astype(float)
/tmp/ipykernel_14609/1270881503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpa[c] = fpa[c].astype(float)

In [ ]:
pd.api.types.is_n

In [254]:
otypes = fpa.columns[fpa.]
xCat = pd.get_dummies(fpa[])

          Male  Female  Third Gender
index
8602033  False    True         False
8602074  False    True         False
8602098  False    True         False
8602134  False    True         False
8602176  False    True         False
...        ...     ...           ...
7701425  False    True         False
7701487  False    True         False
7701547  False    True         False
7701582  False    True         False
7701636  False    True         False

[218523 rows x 3 columns]